<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1 class="display-4">Grace Neumayer</h1>
  <p class="lead">This is a sample website for CS3300.</p>
</div>

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= project.title %></td>
              <td><%= project.description %></td>
              <td><%= link_to 'Show', project %></td>
              <td><%= link_to 'Edit', edit_project_path(project) %></td>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </tbody>
        </table>    
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
